* {
  margin: 0;
  padding: 0;
}

#main {
  width: 65%;
  height: 660px;
  display: block;
  margin: 0 auto;
  background-color: black;
}

#main #player1 {

  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: 50%;
}

#player2{
  width: 30px;
  height: 30px;
  background-color: orange;
  border-radius: 50%;
}
#player3{
  width: 30px;
  height: 30px;
  background-color: brown;
  border-radius: 50%;
}
#player4{
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
}
#scoreleft{
  float:left;
  width:10%;
}
#scoreRight{
  float:right;
  width:10%;
}



#questionAndAnswers {
  visibility: hidden;
  text-align: center;
}
#wrong{
  text-align: center;
  visibility: hidden;
}
#main li {
  list-style-type: none;
  display: inline-block;
  width: 13.9%;
  position: relative;
}

.square {
  width: 100%;
  height: 90px;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.white {
  background-color: white;
}

.purple {
  background-color: purple;
}

.yellow {
  background-color: yellow;
}

.space {
  margin-right: 71.75%;
}


.quesitoHolder{
  .quesito{
   height:40px;
   width: 100%;
   border: 2px solid black;
   text-align: center;
   line-height: 40px;
   color: white;
   margin: 3px;
   color:black;
   &.art.success{
     background: red;
   }
   &.sciences.success{
     background: blue;
   }
   &.programming.success{
     background: yellow;
   }
   &.sport.success{
     background: green;
   }
   &.history.success{
     color:white;
     background: black;
   }
   &.geography.success{
     color:black;
     background: purple;
   }
  }
}
