* {
  margin: 0;
  padding: 0;
  background: #EFEDEC;
}

#main {
  width: 65%;
  height: 660px;
  display: block;
  margin: 0 auto;
  background-color: white;
}

#main #player1 {
  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: 50%;
}

#player2 {
  width: 30px;
  height: 30px;
  background-color: orange;
  border-radius: 50%;
}

#player3 {
  width: 30px;
  height: 30px;
  background-color: brown;
  border-radius: 50%;
}

#player4 {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}

#scoreleft {
  float: left;
  width: 10%;
  margin-left:10px;
  margin-top: 10px;
}

#scoreRight {
  float: right;
  width: 10%;
  margin-right:10px;
  margin-top: 10px;
}

#dice {
  background-image: url("images/dice.jpg");
  background-size: cover;
  height: 90px;
  width: 90px;
  border-radius: 10%;
  margin-left: 20px;
  margin-bottom: 10px;
}

#left{
  visibility: hidden;
  background-image: url("images/left.jpg");
  background-size: cover;
  height: 70px;
  width: 70px;
  border-radius: 10%;
  margin-left: 20px;
}


#right{
  visibility: hidden;
  background-image: url("images/right.jpg");
  background-size: cover;
  height: 70px;
  width: 70px;
  border-radius: 10%;
  margin-left: 20px;
}

#questionAndAnswers {
  visibility: hidden;
  text-align: center;
  margin-top: -150px;
}
#numberDice span{
  margin-left: 20px;
  font-size: 22px;
}
#wrong {
  text-align: center;
  visibility: hidden;
}

#main li {
  list-style-type: none;
  display: inline-block;
  width: 12.9%;
  position: relative;
}

h3{
  font-size: 24px;
}
p{
  font-size: 20px;
}

input{
    font-size: 18px;
    padding:6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

#send{
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10%;
}
#inside{
  visibility:hidden;
}
.square {
  width: 100%;
  height: 90px;
  border: 1px solid black;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.white {
  background-color: black;
}

.purple {
  background-color: purple;
}

.yellow {
  background-color: yellow;
}

.space {
  margin-right: 26.7%;
}

.gold {
  background-image: url("images/What-makes-a-winner.jpg");
  background-size: cover;
}

.quesitoHolder {
  .quesito {
    height: 40px;
    width: 100%;
    border: 2px solid black;
    text-align: center;
    line-height: 40px;
    color: white;
    margin: 3px;
    color: black;

    &.art.success {
      background: red;
    }

    &.sciences.success {
      background: blue;
    }

    &.programming.success {
      background: yellow;
    }

    &.sport.success {
      background: green;
    }

    &.history.success {
      color: white;
      background: black;
    }

    &.geography.success {
      color: black;
      background: purple;
    }
  }
}
